.FAB{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10rem;
}

.FAB .prettyFAB{
    background-color: #351c91cb;
    color:white;
    padding: 1rem;
    /* border-radius: 20px; */
    margin: 0;
    width: 100%;
    /* box-shadow: 0px 0px 10px 10px #00000033; */
    text-decoration: none;
    font-size: large;
    transition: background-color ease 300ms;
    font-weight: 700;
}

.FAB .prettyFAB:hover{
    background-color: rgb(173, 2, 2);
}

.cornersLeft{
    border-radius: 0px 0px 0px 20px;
}

.cornersRight{
    border-radius: 0px 0px 20px 0px;
}